<script>
export default {
  props: {
    id: Number, 
    title: String,
  },
  data() {
    return {
        deleted: false,
        styleObject: {
            border: '1px solid white',
            color: 'white',
            fontSize: '15px',
            margin: '10px',
            padding: '5px'
        }
    }
  },
  methods: {
    borrar() {
        console.log("deleting…")
        this.deleted = true
    }
  }
}
</script>
<template>
<div v-if="!deleted" :style="styleObject">({{ this.id }}) - {{ this.title }} <button @click="borrar">X</button></div>
<div v-else></div>
</template>